body {
    background-color: azure;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

hr {
    height: 2px;
    border-style: none;
    border-top-style: dotted;
    border-color: gainsboro;
    border-width: 5px;
    width: 10%;
}